.app-navbar {
  margin-bottom: 4em;

  .nav-item, .navbar-brand {
    color: #fff;

    &:hover, &:focus {
      color: darken(#fff, 10%);
    }
  }
  .nav-item {
    padding: 1em;
    margin-left: 1em;

    &.active {
      text-decoration: underline;
    }
  }
}